.img{
    width: 40rem;
    position: relative;
    animation: myeffect 1s;
}
@keyframes myeffect{
    from {
        transform: scale(0);
      }
    
      to {
        transform: scale(1);
      }
}

